.sidebarOptions {
  display: flex;
  flex-direction: column;
}
.sidebarOption>a {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarOption:hover {
  background: rgb(211, 211, 211);
  border-radius: 5px;
}
.sidebarOption > a>img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebarOption > a> .MuiSvgIcon-root {
  font-size: medium;
  margin-left: 20px;
}
.sidebarOption >a> p {
  margin-left: 10px;
  color: rgb(43, 41, 41);
  font-weight: 400;
  font-size: 13px;

}

.sidebarOption > a>.text {
  margin-left: 23px;
  color: gray;
  font-weight: 400;
  font-size: 13px;
  
  
}

.sidebarOption>a>p{
  padding-top: 8px;
}
.sidebarOption>a:hover{
  text-decoration: none;
}
.sidebarOption{
  margin-top: 10px;
  background: rgb(216, 227, 250);
  border-radius: 5px;
}

.sidebarOptions{
  margin-top: 40px;
  margin-left: -40px;
}