#customFile .custom-file-control:lang(en)::after {
    content: "Select file...";
  }
  
  #customFile .custom-file-control:lang(en)::before {
    content: "Click me";
  }

  .playcards{
    margin-top: 100px;
  }